*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}
:root{
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Tomato: hsl(4, 100%, 67%);
}
.container{
    background-color: var(--Dark-Slate-Grey);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.parent{
    padding: 30px;
    background-color: var(--White);
    border-radius: 20px;

}
.main{
    width: 800px;
    height: 400px;
    display:flex;
    align-items: center;
}
.text{
    flex: 1 0 60%;
}
.text h1{
    padding-bottom: 20px;
}
.text p{
    padding-bottom: 20px;
}
.img{
    flex: 1 0 40%;
    width: 100%;
    height: 100%;
   
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
form{
    
}
input{
    padding: 10px 33px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--Grey);
    margin-top: 20px;

}
button{
    padding: 15px 20px;
    border-radius: 5px;
    background-color: var(--Charcoal-Grey);
    color: var(--White);
    margin-top: 20px;
    border: none;
}
.msg{
    list-style: none;
    padding-bottom: 30px;
    list-style-image: url(./assets/images/icon-list.svg);
    padding-left: 25px;

}
.msg li{
    padding-bottom: 10px;
    padding-left: 30px;
}

